[submodule "extern/openFPGALoader"]
	path = extern/openFPGALoader
	url = https://github.com/trabucayre/openFPGALoader
[submodule "extern/nextpnr"]
	path = extern/nextpnr
	url = https://github.com/YosysHQ/nextpnr
[submodule "extern/yosys"]
	path = extern/yosys
	url = https://github.com/YosysHQ/yosys
[submodule "extern/riscv-gnu-toolchain"]
	path = extern/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain
